---
import projects from "../../collections/projects.json";
import Button from "../button.astro";
import Project from "../project.astro";
---

<section class="max-w-4xl mx-auto px-7 lg:px-0">
  <h2
    class="text-6xl font-bold leading-10 tracking-tight text-neutral-900 dark:text-neutral-100"
  >
    Mes Projets
  </h2>
  <br>
  <p class="mb-10 text-base text-neutral-600 dark:text-neutral-400">
    Découvrez une sélection de mes projets réalisés dans les domaines de la cybersécurité, des réseaux, des systèmes informatiques et du design web. 
  </p>
  <div class="relative w-full">
    <div class="flex items-center justify-between">
      <button
        class="p-2 bg-neutral-200 dark:bg-neutral-700 rounded-full"
        id="prev-project"
        aria-label="Previous Project"
      >
        ←
      </button>
      <div class="flex-1 mx-4">
        {
          projects.map((project, index) => {
            return (
              <div
                class={`project-slide ${index === 0 ? 'block' : 'hidden'}`}
                data-index={index}
              >
                <h3 class="text-xl font-semibold text-neutral-800 dark:text-neutral-200 mb-4">
                  {project.name}
                </h3>
                <Project
                  name={project.name}
                  description={project.description.length > 100 ? project.description.substring(0, 100) + '...' : project.description}
                  image={project.image}
                  url={project.url}
                />
              </div>
            )
          })
        }
      </div>
      <button
        class="p-2 bg-neutral-200 dark:bg-neutral-700 rounded-full"
        id="next-project"
        aria-label="Next Project"
      >
        →
      </button>
    </div>
  </div>

  <div class="flex items-center justify-center w-full py-5">
    <Button text="Voir tous mes projets" link="/projects" />
  </div>
</section>

<script>
  let currentIndex = 0;
  const projects = document.querySelectorAll('.project-slide');
  const prevButton = document.getElementById('prev-project');
  const nextButton = document.getElementById('next-project');

  function updateProjects() {
    projects.forEach((project, index) => {
      project.classList.toggle('block', index === currentIndex);
      project.classList.toggle('hidden', index !== currentIndex);
    });
  }

  prevButton.addEventListener('click', () => {
    currentIndex = (currentIndex - 1 + projects.length) % projects.length;
    updateProjects();
  });

  nextButton.addEventListener('click', () => {
    currentIndex = (currentIndex + 1) % projects.length;
    updateProjects();
  });

  updateProjects();
</script>
